.headers {
	text-align: center;
	
}

head {
	background-color: #b5a397;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
body {
	background-color: #b5a397;
}

.models {
	text-align: center;
	
}

.images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300;
	height: 300px;
}

.navigationbar { 
	background-color: #6a5750;
	overflow: hidden;
}

.navigationbar a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navigationbar a.current {
	background-color: #30231d;
	color: white;
}

.navigationbar a:hover {
	background-color: #f6f1ed;
	color: black;
}

#slideshow {
	margin: auto;
}
	
#slideshow .slide {
	display: none;
}


#slideshow .slide img {
	padding: 100px;
	height: 300px;
	width: auto;
}


#slideshow .slide.active {
	display: block;
}
	
	
	
	
	
	
	
	
	
	